@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.saloon_logo {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 34px;
    font-weight: 900;
    text-decoration: none;
}

@media only screen and (max-width: 425px) {
    table {
        overflow: scroll;
        display: block;
    }

    .detail {
        display: inline-block;
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 768px) {
    .order_table {
        overflow: scroll;
        display: block;
    }
}

@media only screen and (max-width: 425px) {
    .galary_img {
        width: 100% !important;
    }
}

.action {
    text-align: end;
}

.save_btn {
    column-gap: 4px;
}

.left-toogle {
    line-height: unset;
}

.card-footer .pagination .pagination {
    margin: 0;
}

.nav-link.active {
    background-color: #007bff; /* Change this to the color you want for the active state */
    color: #fff; /* Change this to the text color you want for the active state */
}

/* .right_side{
    width: 80%;
    float: right;
}
.copyright{
    width: 80%;
    float: right;
} */
